<!doctype html>
                      <html>
                      <head>
                      <meta charset='utf-8'>
                      <title>ZKTOR JOB NOTIFICATION </title>
                      </head>                     <body>
                        <div style=' margin-top:15px; align-content:center; font-size:13px; padding-left: 30px; line-height:30px; font-family:Arial, sans-serif; float:left; color:black; '>Dear,  <%= 	user_name  %><br> You are shortlisted for the position  <%= job_title  %> for role  <%= job_role  %><br>
                        INTERVIEW SCHEDULE DATE - <%= schedule_date %><br>
                        JOB SKILL - <%= job_skills %><br>
                        PACKAGE - <%= job_min_package %> - <%= job_max_package %><br>
                        JOB LOCATION -  <%= job_city %><br>
                        JOB DESCRIPTION - <br><%= job_description %><br>
                    <br><br>
                        CONTACT <br><%= cuser_name %> <br><%= cuser_email %><br>
                        <%= job_company_name %><br>
                        <%=job_city %>, <%= job_state %>,<%= job_country %></div></div>

                      </body>
                      </html>